<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin: 0 0;">
        <ul class="layui-tab-title" style="left: 200px">
            <li class="layui-this" lay-id="11">网站设置</li>
            <li lay-id="22">用户管理</li>
            <li lay-id="33">权限分配</li>
            <li lay-id="44">商品管理</li>
            <li lay-id="55">订单管理</li>
        </ul>
    </div>
    <div class="layui-body" style="margin: 4% 1% 1% 1%;">
        <iframe src="/log/operLog" id="external-frame" onload="setIframeHeight(this)"width="100%" height="120%" scrolling="no" frameborder="0"/>
        <!--

        <form id="logSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input id="userNameSearch" name="userNameSearch" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">执行方法</label>
                <div class="layui-input-inline">
                    <input id="methodSearch" name="methodSearch" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">操作类型</label>
                <div class="layui-input-inline">
                    <select name="operTypeSearch"  id="operTypeSearch" > </select>
&lt;!&ndash;                    <input id="operTypeSearch" name="operTypeSearch" autocomplete="off" class="layui-input" type="text"/>&ndash;&gt;
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">操作时间</label>
                    <div class="layui-input-inline" style="width: 175px;">
                        <input  name="startTimeSearch" id="startTimeSearch" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 175px;">
                        <input name="endTimeSearch" id="endTimSearche" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                    </div>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        &lt;!&ndash;<hr class="layui-bg-blue"/>&ndash;&gt;
        <hr class="layui-bg-black"/>

        &lt;!&ndash;<button class="layui-btn layui-btn-normal" onclick="addUser()">开通用户</button>&ndash;&gt;

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="logList" lay-filter="logTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">详细</a>
          &lt;!&ndash;  {{#  if(d.userStatus == '0'){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="recover">恢复</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  } }}&ndash;&gt;
        </script>
    --></div>


    <!--添加或编辑用户-->
    <div id="logDetail" class="layer_self_wrap" style="display:none;">
        <form id="userForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item" style="padding:0 30px 0 30px">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input id="userName" name="userName" disabled lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">角色类型</label>
                <div class="layui-input-inline">
                    <input id="roleName" name="roleName" disabled lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                    <!-- <select name="roleId"  id="roleId" > </select>-->
                </div>
            </div>

            <div class="layui-form-item" style="padding:0 30px 0 30px">
                <label class="layui-form-label">IP</label>
                <div class="layui-input-inline">
                    <input id="ip" name="ip" lay-verify="required" disabled autocomplete="off" class="layui-input" type="text" />
                </div>
                <label class="layui-form-label">操作模块</label>
                <div class="layui-input-inline">
                    <input id="busi" name="busi" disabled autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item" style="padding:0 30px 0 30px">
                <label class="layui-form-label">操作类型</label>
                <div class="layui-input-inline">
                    <select name="operType"  id="operType" disabled="disabled" >
                    </select>
                </div>
                <label class="layui-form-label">执行方法</label>
                <div class="layui-input-inline">
                    <input id="method" name="method" disabled autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item" style="padding:0 30px 0 30px">
                <label class="layui-form-label">执行时间</label>
                <div class="layui-input-inline">
                    <input id="reqTime" name="reqTime" disabled autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">响应时间</label>
                <div class="layui-input-inline">
                    <input id="respTime" name="method" disabled autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item layui-form-text" style="padding:0 45px 0 30px">
                <label class="layui-form-label">请求参数</label>
                <div class="layui-input-block" style="margin: 1px;">
                    <pre id="reqData"></pre>
                </div>
            </div>


            <div class="layui-form-item layui-form-text"style="padding:0 45px 0 30px">
                <label class="layui-form-label">响应参数</label>
                <div class="layui-input-block" style="margin: 1px;">
                    <pre id="respData"></pre>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 0px;">
                    <button style="display:block;margin:0 auto" class="layui-btn"  lay-submit="" lay-filter="userSubmit">确定</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/manage/manage.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>


    <style>
        pre {outline: 1px solid #ccc; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>

</div>
</body>
</html>